*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    
}
body,html{
overflow-x: hidden;
}

.main-container{
    background-image: url("assets/chicken.png");
    background-position: contain;
     width: 100%;
    height: 610px; 
    background-size: cover;
   position: relative;
   
}
.main-container  .navbar img{
    margin-left: 100px;
    width: 108px;
    height: 72px;
}
@media  (max-width:480px ) {
    .main-container{
        width:100%;
        height: 300px;
        
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .main-container  .navbar img{
       margin-bottom: 10vw;
        width: 59px;
        height: 40px;
        margin-left: 60px;
    }
    .main-container .navbar .right{
        display: flex;
        height: 60px;
    }

     .main-container .navbar .right a{
        display: none;
     }
     .main-container .navbar .right .cart{
        display: flex;
        padding: 4px 8px;
        gap: 8px;
        height: 6vw;
        width: 25vw;
       margin-bottom: 14vw;
       border-radius: 2vw;
       font-size: 13px;
     }
     .main-container .navbar .cart  span{
  display: none;
        
    }
    

}

.main-container .navbar {
display: flex;
justify-content: space-between;
align-items: center;
background: rgba(59, 56, 56, 0.4);
height: 120px;

}
.main-container .navbar  .right{
    display: flex;
    align-items: center; 
    margin-right: 40px;
}

.main-container .navbar  .right li{
    list-style: none;
}
.main-container .navbar  .right li a{
    margin-right: 70px;
    color: white;
    text-decoration: none;
  
}
.main-container .navbar  .right li a:hover{
    color: orange;
    text-decoration: underline;
}
.main-container .navbar  .cart{
    gap: 3px;
    background-color: orange;
    padding: 7px 20px;
    cursor: pointer;
    
}



/*--------------------------------------------------menu----------------------------------------*/


.menu{
    height: auto;
    width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
   position: relative;

}
.menu .men{
    width: 1220px;
    height: auto;
    margin-top: -170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: #fff;

}
.menu .men h1{
    font-size: 50px;
    font-weight: 800;
    margin-top: 80px;
}
.menu .men h3{
    text-decoration: none;
    color: #FFF;
    font-size: 25px;
    margin-top: 35px;
}
.menu-container{
    width: 1220px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  position: relative;
}
.menu-container .burgers{
    display: flex;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 30px;
}
.menu-container .burgers  .one a{
    width: 338px;
    height: 453px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.menu-container .burgers  .one img{
    width: 325px;
    height: 169px;
    margin-top: 10px;
}
.burgers a{
    text-decoration: none;
}

.menu-container .burgers  .one a p{
    padding: 5px;
    width: 310px;
    color: black;
    
}
.menu-container h2{
    font-size: 25px;
   color: black;
}
.menu-container h3{
    color: rgb(213, 147, 26);
  margin-bottom: 70px;
}
@media (min-width:320px ) and (max-width:580px ) {
    .menu .men{  
         width: 280px;
         margin-top: -80px;
    }
    .menu .men h1{
        font-size: 25px;
        margin-top: 50px;
    }
    .menu .men h3{
        font-size: 20px;
    }
    .main-container{
        width:auto;
    }
    .menu-container .burgers{
width: 280px;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;

    }
    .menu-container .burgers .one a{
       width: 220px;
       height: 280px;
       gap: 10px;
    }
    .menu-container .burgers .one a img{
        width: 200px;
    }
    .menu-container .burgers .one a h2{
        font-size: 19px;
    }
    .menu-container .burgers .one a p{
        font-size: 10px;
        inline-size: 220px;
        text-align: center;
    }

}

/*-------------------------------footer------------------------------------------*/

.footer{
    width: 100%;
    height: 410px;
    background-color: black;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.for-container1{
    display: flex;
    flex-direction: column;
    

}
.footer-container1 img{
    width: 108px;
    height: 70px;
}
 .footer-container2{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
}
/*----first*/
.footer-container2 .first{
    width: 300px;
}
.footer-container2 .first h2{
    font-size: 20px;
}
.footer-container2 .first  p{
    font-size: 13px;
    margin-top: 20px;
}
/* ------second----*/

.footer-container2 .sec h2{
        font-size: 20px;
        margin-bottom: 20px;
}
.footer-container2 .sec h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

.footer-container2 .sec h3 a{
    text-decoration: none;
    color: #FFF;
    margin-left: 7px;
}

/*------third-------*/
.footer-container2 .third h2{
    font-size: 20px;
    margin-bottom: 20px;
}
.footer-container2 .third h3{
    font-size: 16px;
    margin-bottom: 10px;
}
.footer-container2 .third span{
    font-size: 13px;
    color: orange;
    font-weight: 0;

}
.footer-container2 ul {
    width: 250px;
}

.footer-container2 ul h2{
   font-size: 20px;
   margin-bottom: 20px;
   font-weight: 0;
}
.footer-container2 ul li{
    font-size: 13px;
    list-style: none;
   margin-top: 13px;
   display: flex;
}
.footer-container2 ul li i{
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 17px;
}


@media (min-width:320px ) and (max-width:580px ){
    .footer{
        height: auto;

    }
    .footer-container1 img{
        width: 90px;
        height: 60px;
        margin-top: 30px;
        margin-left: 30px;
    }
    .footer-container2 .first  p{
        font-size: 10px;
    }
    .footer-container2{
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 30px;
        margin-left: 30px;
    }
    
}
/*-------------------------footer second------------------------------*/



.footer-sec{
    width: 100%;
    height: 87px;
    background: rgb(223, 168, 64);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 450px;
}
.footer-sec p{
  font-size: 19px;
  font-weight: 600;
}
.footer-sec p i{
    margin-left: 5px ;
    margin-right: 5px ;
}
.footer-sec .container{
   font-size: 23px;
}
.footer-sec .container i{
    margin-right: 5px;
}



@media (min-width:320px ) and (max-width:580px ){
    .footer-sec{
        height: 70px;
        gap: 5px;
        display: flex;
        flex-direction: column;
    }
    .footer-sec p{
        font-size: 10px;
    }
    .footer-sec .container i{
        font-size: 16px;
        margin-right: 2px;
    }
}
